<style>
    h1 {
      color: green;
    }

    .card {
      width: 85%;
      margin: 0 auto;
      border: green 3px solid;
      padding: 15px;
      background-color: #ccffe6;
    }

    @media (min-width: 900px){
      .paragraph {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
      }
    }
</style>

<div class="card">
  <h1><%= current_page[:title] %></h1>
  <div class="paragraph">
    <p><%= current_page[:text] %></p>
  </div>
</div>

<%= link_to root_path + "edit_page?current_path=#{current_page[:slug]}" do %>
    Edit
<% end %>
<br>

<%= link_to root_path + "delete_page?current_path=#{current_page[:slug]}" do %>
    Delete
<% end %>