<% render partial: 'shared/title', locals: { title: current_page[:title] }%>

<h1>I am template number 3 for "<%= current_page[:slug] %>"</h1>

<p><%= current_page[:text] %></p>

<%= link_to root_path + "edit_page?current_path=#{current_page[:slug]}" do %>
    Edit
<% end %>
<br>

<%= link_to root_path + "delete_page?current_path=#{current_page[:slug]}" do %>
    Delete
<% end %>


