<li>
  <%= link_to node[:path] do %>
      <%= node[:slug] == '' ? 'home' : node[:slug] %>
  <% end %>
  <% unless node[:children].empty? %>
      <ul>
        <% node[:children].each do |child| %>
            <%= render partial: 'shared/navigation_menu', locals: { node: child } %>
        <% end %>
      </ul>
  <% end %>
</li>