<h1>Add New Page</h1>

<%= form_tag do %>
    <label>
      Slug:
      <%= text_field_tag('new_slug', @page[:slug]) %>
    </label>
    <label>
      Title:
      <%= text_field_tag 'new_title', @page[:title] %>
    </label>
    <label>
      Template:

    </label>
<% end %>